#!name=itunes解锁订阅
#!desc=itunes解锁订阅：喝水羊驼，小组件盒子,壁纸树 星空 HTTPS抓包 ECG+ 168轻断食
#脚本作者：chxm1023 Crazy-Z7 Yu9191 ios151 等等
#https://raw.githubusercontent.com/ligengying/123/master/module/itunes.snippet


^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt$ url script-response-body https://raw.githubusercontent.com/ligengying/123/master/script/itunes.js


#iScreen
^https?:\/\/pay\.kuso\.xyz\/pay\/pay-check url reject-200

hostname = buy.itunes.apple.com
