#!name=itunes解锁订阅
#!desc=itunes解锁订阅：喝水羊驼，小组件盒子
#脚本作者：chxm1023 Crazy-Z7 Yu9191
#https://raw.githubusercontent.com/ligengying/123/master/module/itunes.snippet


^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt$ url script-response-body https://raw.githubusercontent.com/ligengying/123/master/script/itunes.js

hostname = buy.itunes.apple.com
