#!name=itunes解锁订阅
#!desc=itunes解锁订阅 Grow
#!auther=脚本作者 89996462 chxm1023 墨鱼手记 等等
#!url=https://raw.githubusercontent.com/ligengying/123/master/module/revenuecat.snippet



^https?:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers\/\$RCAnonymousID%3A\w{32})$ url script-response-body https://raw.githubusercontent.com/ligengying/123/master/script/revenuecat.js

hostname = api.revenuecat.com
